@mixin indie {
     font-family: 'Indie Flower', cursive;
     font-size: 40px;
     letter-spacing: 2px;
}

@mixin baloo {
     font-family: 'Baloo 2', cursive;
     font-size: 20px;
}

@mixin buttonDesign($color) {
     background-color: $color;
     border: 1px solid $color;
     padding: 10px 20px;
     border-radius: 10px;
     margin: 10px;
     transition: all 0.5s linear;

     &:hover {
          box-shadow: 5px 10px 3px rgb(51, 50, 50);
          border-color: black;
          margin-top: 0;
          margin-bottom: 20px;      
     }
}

@mixin flex($direction, $content, $item, $wrap) {
     display: flex;
     flex-direction: $direction;
     justify-content: $content;   
     align-items: $item;
     flex-wrap: $wrap;
}