@mixin indie {
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    letter-spacing: 2px;
}

@mixin itim {
    font-family: 'Itim', cursive;   
    font-size: 40px;
    letter-spacing: 2px;
}

@mixin baloo {
    font-family: 'Baloo 2', cursive;
    font-size: 20px;
}

@mixin buttonDesign($color) {
    background-color: $color;
    border: 1px solid $color;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px;
    transition: all 0.5s linear;

    &:hover {
        box-shadow: 5px 10px 3px rgb(51, 50, 50);
        border-color: black;
        margin-top: 0;
        margin-bottom: 20px;
    }
}

@mixin theButtonDesign($color, $border,$shadow) {
    background-color: $color;
    border: 1px solid $color;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px;
    transition: all 0.5s linear;

    &:hover {
        box-shadow: 5px 10px 3px $shadow;
        border-color: $border;
        margin-top: 0;
        margin-bottom: 20px;
    }
}

@mixin flex($direction, $content, $item, $wrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $item;
    flex-wrap: $wrap;
}

@mixin checkbox {
    -webkit-appearance: none;
    background-color: $yellow;
    border: 3px solid $greenPastel;
    padding: 10px;
    border-radius: 5px;
    margin: 0 10px;
    transition: all 0.3s linear;
    position: relative;

    &:hover {
        border-color: $greenPastel;     
    }

    &:checked {
        background-color: $yellow;
        border-color: $red;
    }

    &:checked:after {
        content: '\2714';
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $red;
    }
}

@mixin form {

    flex-basis: 50%;

    fieldset {
        border: 3px solid #F5B436;
        padding: 40px;
        border-radius: 10px;

        legend {
            @include indie;
            padding: 20px;
        }

        label,
        input,
        #myfilebutton {      
            @include baloo;   
            margin: 20px 0;  
            cursor: pointer;
        }

        input, #myfilebutton { 
            width: 100%;   
            height: 40px;   
            padding: 20px 10px; 
            background-color: #F5B436;
            border: 1px solid black;
            border-radius: 10px;
            outline: none;   
            transition: box-shadow 0.5s linear;

            &:hover {
                box-shadow: 5px 10px 3px rgb(51, 50, 50);
            }
        }

        button {
            @include baloo;   
            @include buttonDesign($yellow);
            cursor: pointer;
        }
    }
}

@mixin wave($background-top, $background-bottom) {
    position: relative;
    background: $background-top;
    height: 20vh;
    z-index: -1;

    .wave {
            position: absolute;
            height: 250px;
            width: 100%;
            background: $background-top;
            bottom: 0;
            z-index: -1;
    }
        
    .wave::before, .wave::after {
        content: "";
        display: block;
        position: absolute;
        border-radius: 50% 100%;
    }
        
    .wave::before {
        width: 55%;
        height: 100%;
        background-color: $background-top;
        right: -1.5%;
        top: 40%;

    }

    .wave::after {
        width: 55%;
        height: 109%;
        background-color: $background-bottom;
        left: -1.5%;
        top: 60%;
    }
}

   