#home-restaurant {
    @include baloo;
    background-color: $whitePastel;
    color: rgb(21, 22, 22);
   
    .jumbotron {
        background-image: url(../img/ristorante-background.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: auto;
        max-height: 700px;
        padding: 15% 0;
        @include flex(column, center, center, nowrap);

        h1 {
            @include itim;
            font-size: 4.5vw;
            padding: 15px 0;
            color: $blue;
        }

        div {
            @include baloo;
            font-size: 1.3vw;
            color: $blue;
        }
    }

    .menu {
        @include flex(row, space-between, flex-start, nowrap);
        padding: 20% 2%;


        .aside-menu {
            // flex-basis: calc( 100% / 3 - 10px);
            flex-basis: 20%;
            color: $blue;

            h2 {
                @include itim;
                font-size: 35px;
                margin: 10px 0;
            }

            ul {
                li {
                    @include baloo;
                    padding: 10px  0 10px 20px;
                    border-left: 3px solid $yellow;
                    font-size: 18px;
                    letter-spacing: 2px;

                    div {
                        flex-basis: calc(50% - 20px);
                    }

                }
            }
        }

        .container-menu {
            flex-basis: 60%;
            // flex-basis: calc( 100% / 3 - 50px);

            .box-restaurant {
                border: 3px solid $yellow;
                padding: 0 30px 10px;
                border-radius: 10px;
                text-align: center;

                legend {
                    padding: 0 20px;
                    text-align: center;
                    font-size: 30px;
                    font-weight: bold;
                }

                .copertina {
                    height: 200px;

                    img {
                        height: 100%;
                        border-radius: 10px;

                    }
                }

                div {

                    * {
                        padding: 20px 0;
                    }


                    button {
                        padding: 10px 25px;
                        border-radius: 5px;
                        background-color: $yellow;
                    }

                    &:last-child {
                        display: flex;
                        text-align: center;
                    }
                }
            }

            .products {

                & > div {
                    // @include neomorphism;
                    margin-bottom: 100px;
                    text-align: center;

                    h2 {
                        margin-bottom: 30px;
                        @include itim;
                        font-size: 35px;
                        color: $blue;
                    }

                    ul {
                        text-align: left;
                        border-bottom-left-radius: 25px;
                        border-bottom-right-radius: 25px;
                        margin-bottom: 40px;
                        transition: all 0.5s linear;
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;

                        li {
                            flex-basis: calc(100% / 2 - 50px);
                            @include neomorphism;
                            @include flex(row, space-between, center, nowrap);
                            padding: 20px;
                            margin: 15px;
                            // border-bottom: 2px solid $red;
                            color: $blue;

                            h3 {
                                @include baloo;
                                font-size: 18px;
                            }

                            h5 {
                                font-weight: normal;
                                @include baloo;
                                font-size: 17px;
                                margin: 10px 0;
                            }

                            p {
                                @include baloo;
                                font-size: 17px;
                            }

                            h4 {                                
                                border-radius: 10px;
                                font-weight: normal;
                            }

                            .fa-plus {
                                @include addRemove;
                            }

                            .fa-euro-sign {
                                font-size: 17px;
                            }

                            img {
                                width: 100px;
                                height: auto;
                                vertical-align: super;
                            }
                        }
                    }
                }

                .image {
                    text-align: center;
                }
            }
        }

        .carrello {
            text-align: center;
            // flex-basis: 25%;
            flex-basis: 20%;
            // border: 3px solid $blue;
            // background-color: $yellow;
            // @include neomorphism;
            border-radius: 25px;
            padding: 0 10px;

            .fa-euro-sign {
                font-size: 17px;
            }

            h2 {
                padding: 0 20px 10px 0;
                color: $blue;
                border-top-left-radius: 20px;
                border-top-right-radius: 25px;
                border-bottom: 1px solid $blue;
                @include itim;
                font-size: 30px;
                // background-color: $bluelight;
            }

            .no-products {
                padding: 20px;
                
                h3 {
                    @include baloo;
                    font-size: 20px;
                }
            }

            ul,
            h3,
            span {
                color: $blue;
            }

            ul {
                padding: 20px 20px 0 20px;

                li {
                    @include baloo;
                    @include flex(row, space-between, flex-start, nowrap);

                    div {
                        text-align: center;

                        h5 {
                            font-weight: normal;
                            font-size: 18px;
                        }

                        .fa-minus {
                            @include addRemove;
                            padding: 5px;
                        }

                        .fa-plus {
                            @include addRemove;
                            padding: 5px;
                        }
                    }

                    div:last-child {
                        text-align: right;
                    }                    
                }
            }

            h3 {
                @include itim;
                font-size: 30px;
                font-weight: normal;
                padding: 40px 0 10px 0;
            }

            .totalePrezzo {
                margin-bottom: 40px;
                font-weight: bold;
            }

            div {
                text-align: center;

                button {
                    @include theButtonDesign($yellow, $blue, $red);
                    color: $blue;
                    font-size: 18px;

                    a {
                        @include baloo;
                    }
                }
            }

            i {
                color: $blue;
            }
        }
    }

    a {
        text-decoration: none;
        color: black;
    }

    .aside-menu,
    .carrello {
        position: sticky;
        position: -webkit-sticky;
        top: 100px;
    }
}
