@import url(https://fonts.googleapis.com/css?family=Nunito);@charset "UTF-8";

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  height: 80px;
  padding: 0 8%;
  position: fixed;
  z-index: 100;
}

header aside {
  flex-basis: 10%;
}

header aside div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #25385f;
  padding: 20px;
  border: 3px solid #EEE7D7;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  z-index: 99;
  transition: all 0.5s ease-in-out;
}

header aside div:hover {
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 5px 10px 3px #25385f;
}

header aside div a {
  font-family: "Monoton", cursive;
  font-size: 30px;
  font-weight: normal;
  color: #EEE7D7;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: flex-start;
  flex-wrap: nowrap;
}

header nav ul li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 10px 20px;
  margin-left: 20px;
  background-color: #25385f;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 2px solid #EEE7D7;
  z-index: 99;
  transition: all 0.5s ease-in-out;
}

header nav ul li:hover {
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 5px 10px 3px #25385f;
}

header nav ul li a {
  font-family: "Baloo 2", cursive;
  font-size: 20px;
  color: #EEE7D7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  outline: none;
}

body #homepage .jumbotron,
body #homepage .delivery,
body #homepage .map {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  height: 100vh;
  color: #25385f;
}

body #homepage .jumbotron .attach,
body #homepage .jumbotron .text,
body #homepage .delivery .attach,
body #homepage .delivery .text,
body #homepage .map .attach,
body #homepage .map .text {
  flex-basis: calc(50% - 20px);
}

body #homepage .jumbotron .attach,
body #homepage .delivery .attach,
body #homepage .map .attach {
  height: 100%;
  width: auto;
}

body #homepage .jumbotron .text,
body #homepage .delivery .text,
body #homepage .map .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
}

body #homepage .jumbotron .text h2,
body #homepage .delivery .text h2,
body #homepage .map .text h2 {
  font-family: "Indie Flower", cursive;
  font-size: 40px;
  letter-spacing: 2px;
}

body #homepage .jumbotron .text button,
body #homepage .delivery .text button,
body #homepage .map .text button {
  background-color: #EEE7D7;
  border: 1px solid #EEE7D7;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px;
  transition: all 0.5s linear;
}

body #homepage .jumbotron .text button:hover,
body #homepage .delivery .text button:hover,
body #homepage .map .text button:hover {
  box-shadow: 5px 10px 3px #d24448;
  border-color: #EEE7D7;
  margin-top: 0;
  margin-bottom: 20px;
}

body #homepage .jumbotron .text button:hover,
body #homepage .delivery .text button:hover,
body #homepage .map .text button:hover {
  background-color: #ffc244;
  border-color: #25385f;
}

body #homepage .jumbotron .text button a,
body #homepage .delivery .text button a,
body #homepage .map .text button a {
  font-family: "Baloo 2", cursive;
  font-size: 20px;
  color: #25385f;
}

body #homepage .jumbotron {
  background-color: #ffc244;
  padding: 100px 8% 0 0;
}

body #homepage .jumbotron .attach {
  background-image: url(/images/carne3.png?bb551793b9c3d22c73dad6d6d2ea9973);
  background-repeat: no-repeat;
  background-size: 40% auto;
  background-position: 2% 50%;
  background-attachment: fixed;
}

body #homepage .delivery {
  background-color: #EEE7D7;
  padding: 0 8% 0 0;
}

body #homepage .delivery .attach {
  background-image: url(/images/food-delivery-vector-4428252-removebg-preview.png?0fe3819efc9d02124db1e2e4d252bf96);
  background-repeat: no-repeat;
  background-size: 40% auto;
  background-position: 0 30%;
  background-attachment: fixed;
}

body #homepage .map {
  background-color: #bedaf1;
  padding: 0 8% 0 0;
}

body #homepage .map .attach {
  background-image: url(/images/verde-italia-icona-mappa-cartoon-htmdm2-removebg-preview.png?0008584f0430e65802add4f576288120);
  background-repeat: no-repeat;
  background-size: 30% auto;
  background-position: 2% 50%;
  background-attachment: fixed;
}

body #homepage #categories {
  background-color: #9dc09d;
  text-align: center;
  padding: 40px 8%;
}

body #homepage #categories h2 {
  font-family: "Itim", cursive;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  color: #25385f;
}

body #homepage #categories ::-moz-placeholder {
  color: #EEE7D7;
}

body #homepage #categories :-ms-input-placeholder {
  color: #EEE7D7;
}

body #homepage #categories ::placeholder {
  color: #EEE7D7;
}

body #homepage #categories .searchbar {
  font-family: "Baloo 2", cursive;
  font-size: 20px;
  background-color: #25385f;
  border: 1px solid #25385f;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px;
  transition: all 0.5s linear;
  color: #EEE7D7;
  width: 30%;
}

body #homepage #categories .searchbar:hover {
  box-shadow: 5px 10px 3px #ffc244;
  border-color: #ffc244;
  margin-top: 0;
  margin-bottom: 20px;
}

body #homepage #categories .typeOfFoods {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0;
}

body #homepage #categories .typeOfFoods .checkbox-active {
  border: 2px solid #ffc244;
}

body #homepage #categories .typeOfFoods li {
  font-family: "Baloo 2", cursive;
  font-size: 20px;
  color: #EEE7D7;
  background-color: #25385f;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid transparent;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

body #homepage #categories .typeOfFoods li .checkbox {
  -webkit-appearance: none;
  background-color: #ffc244;
  border: 1px solid #ffc244;
  padding: 10px;
  border-radius: 5px;
  margin: 0 10px;
  transition: all 0.3s linear;
  position: relative;
  flex-basis: 10%;
}

body #homepage #categories .typeOfFoods li .checkbox:hover {
  border-color: black;
}

body #homepage #categories .typeOfFoods li .checkbox:checked {
  background-color: #ffc244;
  border: 1px solid black;
}

body #homepage #categories .typeOfFoods li .checkbox:checked:after {
  content: "\2714";
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #d24448;
}

body #homepage #categories .typeOfFoods li span {
  flex-basis: 90%;
}

body #homepage #categories .restaurants {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0;
}

body #homepage #categories .restaurants li {
  flex-basis: calc(100% / 3 - 40px);
  margin: 20px;
  border-radius: 20px;
  border: 1px solid black;
  background-color: #25385f;
  transition: all 0.5s linear;
}

body #homepage #categories .restaurants li:hover {
  box-shadow: 20px 20px 3px black;
}

body #homepage #categories .restaurants li a {
  color: #25385f;
}

body #homepage #categories .restaurants li a h3 {
  background-color: #ffc244;
  padding: 10px;
  font-family: "Baloo 2", cursive;
  font-size: 20px;
  font-weight: normal;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 1px solid black;
}

body #homepage #categories .restaurants li a div {
  height: 308px;
  width: 100%;
  padding: 5px;
}

body #homepage #categories .restaurants li img {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

body #homepage .work {
  background-color: #9dc09d;
  padding: 40px 8% 70px 8%;
  text-align: center;
}

body #homepage .work h2 {
  font-family: "Indie Flower", cursive;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  color: #25385f;
}

body #homepage .work ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  color: #EEE7D7;
}

body #homepage .work ul li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: auto;
  flex-wrap: nowrap;
  flex-basis: calc(100% / 3 - 30px);
  background-color: #25385f;
  padding: 10px 10px 40px;
  border-radius: 20px;
  border: 1px solid #EEE7D7;
  transition: box-shadow 0.5s linear;
}

body #homepage .work ul li:hover {
  box-shadow: 20px 20px 3px black;
}

body #homepage .work ul li div:last-child {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-grow: 1;
}

body #homepage .work ul li div.bg {
  min-height: 300px;
  border-radius: 20px;
  border: 1px solid black;
  overflow: hidden;
}

body #homepage .work ul li div h3 {
  font-family: "Itim", cursive;
  font-size: 40px;
  letter-spacing: 2px;
  width: 100%;
  font-weight: normal;
  margin: 20px 0;
}

body #homepage .work ul li div .left {
  text-align: left;
  flex-grow: 1;
}

body #homepage .work ul li div .left p {
  width: 100%;
  margin-bottom: 20px;
  font-family: "Baloo 2", cursive;
  font-size: 20px;
}

body #homepage .work ul li div button {
  background-color: #ffc244;
  border: 1px solid #ffc244;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px;
  transition: all 0.5s linear;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-self: center;
  justify-self: end;
}

body #homepage .work ul li div button:hover {
  box-shadow: 5px 10px 3px #d24448;
  border-color: #25385f;
  margin-top: 0;
  margin-bottom: 20px;
}

body #homepage .work ul li div button a {
  font-family: "Baloo 2", cursive;
  font-size: 20px;
  color: black;
}

body #homepage .work ul li .bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body #homepage .work ul li .bg.rider {
  background-image: url(/images/rider.jpg?960225b221286ff16329104e0e08d208);
}

body #homepage .work ul li .bg.ristorante {
  background-image: url(/images/ristorante.jpg?cf5cf820aa67d1fe6a17f5545a29be32);
}

body #homepage .work ul li .bg.work {
  background-image: url(/images/work.webp?75b966108d6a40286f49c8c2d927dcde);
}

footer {
  background-color: black;
  padding: 70px 8%;
}

footer .footer-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
}

footer .footer-list ul {
  flex-basis: calc(100% / 4 - 20px);
  background-color: #474646;
  color: white;
  padding: 40px;
  border-radius: 20px;
  border: 2px solid #474646;
  transition: border 0.5s linear;
}

footer .footer-list ul:hover {
  border-color: #ffc244;
}

footer .footer-list ul li {
  padding: 3px;
}

footer .footer-list ul li:first-child {
  margin-bottom: 20px;
}

footer .footer-list ul li:first-child strong {
  font-family: "itim", cursive;
  font-size: 25px;
  color: #EEE7D7;
}

footer .footer-list ul li a {
  font-family: "Baloo 2", cursive;
  font-size: 16px;
  color: #EEE7D7;
}

footer .footer-list ul li a img {
  width: 60%;
  height: auto;
  margin: 10px 0;
}

footer .links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 40px;
}

footer .links ul {
  flex-basis: 85%;
}

footer .links ul li {
  display: inline-block;
}

footer .links ul li a {
  color: #EEE7D7;
  padding: 10px;
}

footer .links ul li a i {
  font-size: 30px;
}

footer .links h5 {
  font-family: "Itim", cursive;
  font-size: 40px;
  letter-spacing: 2px;
  font-size: 20px;
  flex-basis: 15%;
  color: #EEE7D7;
  font-weight: normal;
}

#login section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: darkseagreen;
  height: 100vh;
  padding: 100px 8%;
}

#login section form {
  flex-basis: 50%;
}

#login section form fieldset {
  border: 3px solid #F5B436;
  padding: 40px;
  border-radius: 10px;
}

#login section form fieldset legend {
  font-family: "Indie Flower", cursive;
  font-size: 40px;
  letter-spacing: 2px;
  padding: 20px;
}

#login section form fieldset label,
#login section form fieldset input {
  font-family: "Baloo 2", cursive;
  font-size: 20px;
  margin: 20px;
}

#login section form fieldset .email,
#login section form fieldset .password {
  width: 100%;
  transition: box-shadow 0.5s linear;
}

#login section form fieldset .email:hover,
#login section form fieldset .password:hover {
  box-shadow: 5px 10px 3px #333232;
}

#login section form fieldset input {
  height: 40px;
  padding: 20px;
  background-color: #F5B436;
  border: 1px solid black;
  border-radius: 10px;
}

#login section form fieldset .checkbox {
  margin: 0 20px;
  vertical-align: middle;
}

#login section form fieldset button {
  font-family: "Baloo 2", cursive;
  font-size: 20px;
  background-color: #ffc244;
  border: 1px solid #ffc244;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px;
  transition: all 0.5s linear;
}

#login section form fieldset button:hover {
  box-shadow: 5px 10px 3px #333232;
  border-color: black;
  margin-top: 0;
  margin-bottom: 20px;
}

#login section form fieldset a {
  font-family: "Indie Flower", cursive;
  font-size: 30px;
  color: #EEE7D7;
}

#login section form fieldset a:hover {
  text-decoration: underline;
}

#register section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: darkseagreen;
  height: 100vh;
  padding: 100px 8%;
}

#register section form {
  flex-basis: 50%;
}

#register section form fieldset {
  border: 3px solid #F5B436;
  padding: 40px;
  border-radius: 10px;
}

#register section form fieldset legend {
  font-family: "Indie Flower", cursive;
  font-size: 40px;
  letter-spacing: 2px;
  padding: 20px;
}

#register section form fieldset label,
#register section form fieldset input {
  font-family: "Baloo 2", cursive;
  font-size: 20px;
  margin: 20px;
}

#register section form fieldset input {
  width: 100%;
  height: 40px;
  padding: 20px;
  background-color: #F5B436;
  border: 1px solid black;
  border-radius: 10px;
  transition: box-shadow 0.5s linear;
}

#register section form fieldset input:hover {
  box-shadow: 5px 10px 3px #333232;
}

#register section form fieldset button {
  font-family: "Baloo 2", cursive;
  font-size: 20px;
  background-color: #ffc244;
  border: 1px solid #ffc244;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px;
  transition: all 0.5s linear;
}

#register section form fieldset button:hover {
  box-shadow: 5px 10px 3px #333232;
  border-color: black;
  margin-top: 0;
  margin-bottom: 20px;
}

#chi-siamo .banner div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-image: url(/images/chisiamo.jpg?c567151a06037446c48e690f9b386b44);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: auto;
  max-height: 700px;
  padding: 15% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

#chi-siamo .banner div h1 {
  font-family: "Indie Flower", cursive;
  font-size: 40px;
  letter-spacing: 2px;
  font-size: 4.5vw;
  padding: 15px 0;
  color: #d24448;
}

#chi-siamo .text {
  padding: 30px 20%;
  background-color: #9dc09d;
}

#chi-siamo .text p {
  font-family: "Baloo 2", cursive;
  font-size: 20px;
  margin-bottom: 30px;
  color: #25385f;
}

#chi-siamo .box {
  padding: 30px 20% 100px 20%;
  background-color: #9dc09d;
}

#chi-siamo .box ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

#chi-siamo .box ul li {
  flex-basis: calc(30% - 20px);
  text-align: center;
  background-color: #ffc244;
  border: 1px solid #ffc244;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px;
  transition: all 0.5s linear;
  color: #25385f;
}

#chi-siamo .box ul li:hover {
  box-shadow: 5px 10px 3px #d24448;
  border-color: #25385f;
  margin-top: 0;
  margin-bottom: 20px;
}

#chi-siamo .box ul li h2,
#chi-siamo .box ul li h5 {
  font-weight: normal;
}

#chi-siamo .box ul li h2 {
  font-family: "Indie Flower", cursive;
  font-size: 40px;
  letter-spacing: 2px;
}

#chi-siamo .box ul li h5 {
  font-family: "Baloo 2", cursive;
  font-size: 20px;
}

#faq .banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #EEE7D7;
  width: 100%;
  height: 500px;
}

#faq .banner div {
  flex-basis: auto;
  height: 100%;
}

#faq .banner div img {
  width: auto;
  height: 100%;
}

#faq .text {
  padding: 30px 20%;
  background-color: #9dc09d;
}

#faq .text h1 {
  font-family: "Indie Flower", cursive;
  font-size: 40px;
  letter-spacing: 2px;
  color: #d24448;
}

#faq .text p {
  font-family: "Baloo 2", cursive;
  font-size: 20px;
  margin: 15px 0 30px 0;
  color: #25385f;
}

#dashboard {
  display: grid;
  grid-template-columns: 20% 70% 10%;
  grid-template-rows: auto 1fr;
  grid-template-areas: "welcome welcome welcome" "restaurants create create";
}

#dashboard .welcome {
  grid-area: welcome;
  background-color: darkseagreen;
  padding: 100px 8% 50px 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: indie flower, cursive;
  font-size: 40px;
}

#dashboard .welcome h1 {
  margin-top: 50px;
}

#dashboard .restaurants {
  grid-area: restaurants;
  background-color: darkseagreen;
  padding: 50px 8%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}

#dashboard .restaurants h3 {
  font-family: "Indie Flower", cursive;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

#dashboard .restaurants ul li {
  padding: 10px;
  font-family: "Baloo 2", cursive;
  font-size: 20px;
}

#dashboard .restaurants ul li img {
  width: auto;
  height: 100px;
  vertical-align: middle;
  margin: 0 10px;
}

#dashboard .create {
  grid-area: create;
  padding: 50px 8% 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #8fbc8f;
}

#dashboard .create h2 {
  font-family: "Indie Flower", cursive;
  font-size: 40px;
  letter-spacing: 2px;
}

#dashboard .create form {
  width: 80%;
  margin: 30px 0;
}

#dashboard .create form fieldset {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border: 3px solid #F5B436;
  padding: 20px;
  border-radius: 10px;
}

#dashboard .create form fieldset legend {
  font-family: "Indie Flower", cursive;
  font-size: 40px;
  letter-spacing: 2px;
  padding: 20px;
}

#dashboard .create form fieldset div {
  flex-basis: calc(100% / 3 - 20px);
}

#dashboard .create form fieldset div ::-moz-placeholder {
  font-family: "Baloo 2", cursive;
  font-size: 20px;
  color: black;
}

#dashboard .create form fieldset div :-ms-input-placeholder {
  font-family: "Baloo 2", cursive;
  font-size: 20px;
  color: black;
}

#dashboard .create form fieldset div ::placeholder {
  font-family: "Baloo 2", cursive;
  font-size: 20px;
  color: black;
}

#dashboard .create form fieldset div label,
#dashboard .create form fieldset div input,
#dashboard .create form fieldset div #myfilebutton {
  margin: 20px 50px 20px 0;
  font-size: 20px;
}

#dashboard .create form fieldset div label h4,
#dashboard .create form fieldset div input h4,
#dashboard .create form fieldset div #myfilebutton h4 {
  font-family: "Baloo 2", cursive;
  font-size: 20px;
  font-weight: normal;
}

#dashboard .create form fieldset div input,
#dashboard .create form fieldset div #myfilebutton {
  width: 100%;
  padding: 10px 20px;
  background-color: #F5B436;
  border: 1px solid black;
  border-radius: 10px;
  transition: box-shadow 0.5s linear;
}

#dashboard .create form fieldset div input:hover,
#dashboard .create form fieldset div #myfilebutton:hover {
  box-shadow: 5px 10px 3px #333232;
}

#dashboard .create form fieldset div #myfilebutton {
  margin-top: 0;
}

#dashboard .create form fieldset .button {
  flex-basis: 100%;
  text-align: center;
}

#dashboard .create form fieldset .button button {
  font-family: "Baloo 2", cursive;
  font-size: 20px;
  background-color: #ffc244;
  border: 1px solid #ffc244;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px;
  transition: all 0.5s linear;
}

#dashboard .create form fieldset .button button:hover {
  box-shadow: 5px 10px 3px #333232;
  border-color: black;
  margin-top: 0;
  margin-bottom: 20px;
}

#dashboard .create form fieldset ul {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

#dashboard .create form fieldset ul li {
  flex-basis: calc(100% / 5 - 20px);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

#dashboard .create form fieldset ul li label {
  font-family: "Baloo 2", cursive;
  font-size: 20px;
}

#dashboard .create form fieldset ul li input {
  -webkit-appearance: none;
  background-color: #ffc244;
  border: 1px solid #ffc244;
  padding: 10px;
  border-radius: 5px;
  margin: 0 10px;
  transition: all 0.3s linear;
  position: relative;
}

#dashboard .create form fieldset ul li input:hover {
  border-color: black;
}

#dashboard .create form fieldset ul li input:checked {
  background-color: #ffc244;
  border: 1px solid black;
}

#dashboard .create form fieldset ul li input:checked:after {
  content: "\2714";
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

#home-restaurant {
  font-family: "Baloo 2", cursive;
  font-size: 20px;
  background-color: #9dc09d;
  color: #151616;
}

#home-restaurant .jumbotron {
  background-image: url(/images/ristorante-background.jpg?541743586d26ca703fa49f1fdf22c2eb);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: auto;
  max-height: 700px;
  padding: 15% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

#home-restaurant .jumbotron h1 {
  font-family: "Itim", cursive;
  font-size: 40px;
  letter-spacing: 2px;
  font-size: 4.5vw;
  padding: 15px 0;
  color: #d24448;
}

#home-restaurant .jumbotron div {
  font-family: "Baloo 2", cursive;
  font-size: 20px;
  font-size: 1.3vw;
  color: #25385f;
}

#home-restaurant .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  padding: 5% 8%;
}

#home-restaurant .menu .aside-menu {
  flex-basis: 20%;
  color: #25385f;
}

#home-restaurant .menu .aside-menu h2 {
  font-family: "Itim", cursive;
  font-size: 40px;
  letter-spacing: 2px;
  margin: 10px 0;
}

#home-restaurant .menu .aside-menu ul li {
  font-family: "Baloo 2", cursive;
  font-size: 20px;
  padding: 10px 0 10px 20px;
  border-left: 4px solid #ffc244;
}

#home-restaurant .menu .aside-menu ul li div {
  flex-basis: calc(50% - 20px);
}

#home-restaurant .menu .container-menu {
  flex-basis: calc(40% - 50px);
}

#home-restaurant .menu .container-menu .box-restaurant {
  border: 3px solid #ffc244;
  padding: 0 30px 10px;
  border-radius: 10px;
  text-align: center;
}

#home-restaurant .menu .container-menu .box-restaurant legend {
  padding: 0 20px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

#home-restaurant .menu .container-menu .box-restaurant .copertina {
  height: 200px;
}

#home-restaurant .menu .container-menu .box-restaurant .copertina img {
  height: 100%;
  border-radius: 10px;
}

#home-restaurant .menu .container-menu .box-restaurant div * {
  padding: 20px 0;
}

#home-restaurant .menu .container-menu .box-restaurant div button {
  padding: 10px 25px;
  border-radius: 5px;
  background-color: #ffc244;
}

#home-restaurant .menu .container-menu .box-restaurant div:last-child {
  display: flex;
  text-align: center;
}

#home-restaurant .menu .container-menu .products div h2 {
  font-family: "Itim", cursive;
  font-size: 40px;
  letter-spacing: 2px;
  border: 1px solid black;
  background-color: #ffc244;
  padding: 0 20px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  color: #25385f;
}

#home-restaurant .menu .container-menu .products div ul {
  padding: 20px;
  background-color: #EEE7D7;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px solid black;
  margin-bottom: 40px;
  transition: all 0.5s linear;
}

#home-restaurant .menu .container-menu .products div ul:hover {
  box-shadow: 10px 20px 7px #333232;
}

#home-restaurant .menu .container-menu .products div ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 10px 20px 10px 5px;
  border-bottom: 2px solid #d24448;
  color: #25385f;
}

#home-restaurant .menu .container-menu .products div ul li h3 {
  font-family: "Baloo 2", cursive;
  font-size: 20px;
  font-size: 23px;
  font-weight: normal;
}

#home-restaurant .menu .container-menu .products div ul li h5 {
  font-weight: normal;
  font-family: "Baloo 2", cursive;
  font-size: 20px;
  margin: 10px 0;
}

#home-restaurant .menu .container-menu .products div ul li p {
  font-family: "Baloo 2", cursive;
  font-size: 20px;
  font-size: 17px;
}

#home-restaurant .menu .container-menu .products div ul li h4 {
  font-weight: normal;
}

#home-restaurant .menu .container-menu .products div ul li i {
  color: #25385f;
}

#home-restaurant .menu .container-menu .products div ul li img {
  width: 100px;
  height: auto;
  vertical-align: super;
}

#home-restaurant .menu .container-menu .products .image {
  text-align: center;
}

#home-restaurant .menu .carrello {
  flex-basis: 30%;
  border: 3px solid #EEE7D7;
  background-color: #25385f;
  border-radius: 25px;
  padding-bottom: 20px;
}

#home-restaurant .menu .carrello h2 {
  padding: 0 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 25px;
  border-bottom: 3px solid #EEE7D7;
  font-family: "Itim", cursive;
  font-size: 40px;
  letter-spacing: 2px;
  background-color: #ffc244;
}

#home-restaurant .menu .carrello ul,
#home-restaurant .menu .carrello h3,
#home-restaurant .menu .carrello span {
  color: #EEE7D7;
  padding: 20px 0;
}

#home-restaurant .menu .carrello ul li {
  font-family: "Baloo 2", cursive;
  font-size: 20px;
}

#home-restaurant .menu .carrello ul li span {
  padding: 0 20px;
}

#home-restaurant .menu .carrello span {
  padding: 0 20px;
}

#home-restaurant .menu .carrello h3 {
  font-family: "Itim", cursive;
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: normal;
  padding: 40px 20px;
}

#home-restaurant .menu .carrello div {
  text-align: center;
}

#home-restaurant .menu .carrello div button {
  background-color: #ffc244;
  border: 1px solid #ffc244;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px;
  transition: all 0.5s linear;
}

#home-restaurant .menu .carrello div button:hover {
  box-shadow: 5px 10px 3px #d24448;
  border-color: #25385f;
  margin-top: 0;
  margin-bottom: 20px;
}

#home-restaurant .menu .carrello div button a {
  font-family: "Baloo 2", cursive;
  font-size: 20px;
}

#home-restaurant .menu .carrello i {
  color: #EEE7D7;
}

#home-restaurant a {
  text-decoration: none;
  color: black;
}

#home-restaurant .aside-menu,
#home-restaurant .carrello {
  position: sticky;
  position: -webkit-sticky;
  top: 100px;
}

#createProduct {
  background-color: darkseagreen;
  padding: 100px 8%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

#createProduct form {
  flex-basis: 50%;
}

#createProduct form fieldset {
  border: 3px solid #F5B436;
  padding: 40px;
  border-radius: 10px;
}

#createProduct form fieldset legend {
  font-family: "Indie Flower", cursive;
  font-size: 40px;
  letter-spacing: 2px;
  padding: 20px;
}

#createProduct form fieldset label,
#createProduct form fieldset input,
#createProduct form fieldset #myfilebutton {
  font-family: "Baloo 2", cursive;
  font-size: 20px;
  margin: 20px 0;
  cursor: pointer;
}

#createProduct form fieldset input,
#createProduct form fieldset #myfilebutton {
  width: 100%;
  height: 40px;
  padding: 20px 10px;
  background-color: #F5B436;
  border: 1px solid black;
  border-radius: 10px;
  outline: none;
  transition: box-shadow 0.5s linear;
}

#createProduct form fieldset input:hover,
#createProduct form fieldset #myfilebutton:hover {
  box-shadow: 5px 10px 3px #333232;
}

#createProduct form fieldset button {
  font-family: "Baloo 2", cursive;
  font-size: 20px;
  background-color: #ffc244;
  border: 1px solid #ffc244;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px;
  transition: all 0.5s linear;
  cursor: pointer;
}

#createProduct form fieldset button:hover {
  box-shadow: 5px 10px 3px #333232;
  border-color: black;
  margin-top: 0;
  margin-bottom: 20px;
}

#createProduct form #description,
#createProduct form #type-food {
  font-family: "Baloo 2", cursive;
  font-size: 20px;
  width: 100%;
  background-color: #ffc244;
  border-radius: 10px;
  padding: 5px 10px;
  outline: none;
}

#editProduct {
  background-color: darkseagreen;
  padding: 100px 8%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

#editProduct form {
  flex-basis: 50%;
}

#editProduct form fieldset {
  border: 3px solid #F5B436;
  padding: 40px;
  border-radius: 10px;
}

#editProduct form fieldset legend {
  font-family: "Indie Flower", cursive;
  font-size: 40px;
  letter-spacing: 2px;
  padding: 20px;
}

#editProduct form fieldset label,
#editProduct form fieldset input,
#editProduct form fieldset #myfilebutton {
  font-family: "Baloo 2", cursive;
  font-size: 20px;
  margin: 20px 0;
  cursor: pointer;
}

#editProduct form fieldset input,
#editProduct form fieldset #myfilebutton {
  width: 100%;
  height: 40px;
  padding: 20px 10px;
  background-color: #F5B436;
  border: 1px solid black;
  border-radius: 10px;
  outline: none;
  transition: box-shadow 0.5s linear;
}

#editProduct form fieldset input:hover,
#editProduct form fieldset #myfilebutton:hover {
  box-shadow: 5px 10px 3px #333232;
}

#editProduct form fieldset button {
  font-family: "Baloo 2", cursive;
  font-size: 20px;
  background-color: #ffc244;
  border: 1px solid #ffc244;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px;
  transition: all 0.5s linear;
  cursor: pointer;
}

#editProduct form fieldset button:hover {
  box-shadow: 5px 10px 3px #333232;
  border-color: black;
  margin-top: 0;
  margin-bottom: 20px;
}

#editProduct form #description,
#editProduct form #type-food {
  font-family: "Baloo 2", cursive;
  font-size: 20px;
  width: 100%;
  background-color: #ffc244;
  border-radius: 10px;
  padding: 5px 10px;
  outline: none;
}

#my-product {
  font-family: "Baloo 2", cursive;
  font-size: 20px;
  background-color: #9dc09d;
  color: #151616;
}

#my-product .jumbotron {
  background-image: url(/images/ristorante-background.jpg?541743586d26ca703fa49f1fdf22c2eb);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: auto;
  max-height: 700px;
  padding: 15% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

#my-product .jumbotron h1 {
  font-family: "Itim", cursive;
  font-size: 40px;
  letter-spacing: 2px;
  font-size: 4.5vw;
  padding: 15px 0;
  color: #d24448;
}

#my-product .jumbotron div {
  font-family: "Baloo 2", cursive;
  font-size: 20px;
  font-size: 1.3vw;
  color: #25385f;
}

#my-product .container-menu {
  padding: 40px 0;
  width: 80%;
  margin: auto;
}

#my-product .container-menu > div {
  text-align: center;
}

#my-product .container-menu > div > a {
  padding: 10px 20px;
  background-color: #25385f;
  border: 1px solid transparent;
  border-radius: 10px;
  color: aliceblue;
  display: inline-block;
  margin: 40px auto;
}

#my-product .container-menu > div > a:focus {
  border-color: #ffc244;
}

#my-product .container-menu .products div .head-product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  border: 1px solid black;
  background-color: #ffc244;
  padding: 10px 30px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

#my-product .container-menu .products div .head-product h2 {
  font-family: "Itim", cursive;
  font-size: 40px;
  letter-spacing: 2px;
  color: #25385f;
}

#my-product .container-menu .products div .head-product .fa-check-circle {
  color: #238623;
}

#my-product .container-menu .products div .head-product .fa-times-circle {
  color: #d24448;
}

#my-product .container-menu .products div ul {
  padding: 20px;
  background-color: #EEE7D7;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px solid black;
  margin-bottom: 20px;
  transition: all 0.5s linear;
}

#my-product .container-menu .products div ul:hover {
  box-shadow: 10px 20px 7px #333232;
}

#my-product .container-menu .products div ul li {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  padding: 10px 20px 10px 5px;
  border-bottom: 2px solid #d24448;
  color: #25385f;
}

#my-product .container-menu .products div ul li:last-child {
  border: none;
  justify-content: center;
  align-items: center;
}

#my-product .container-menu .products div ul li:last-child div a {
  margin: 0 20px;
  color: #25385f;
}

#my-product .container-menu .products div ul li > div {
  margin: 0 20px;
}

#my-product .container-menu .products div ul li > div:nth-child(2) {
  max-width: 50%;
  flex-grow: 1;
}

#my-product .container-menu .products div ul li h4,
#my-product .container-menu .products div ul li label {
  font-family: "Baloo 2", cursive;
  font-size: 20px;
  font-size: 23px;
  font-weight: normal;
}

#edit-restaurant {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #8fbc8f;
  padding: 100px 0;
}

#edit-restaurant form {
  flex-basis: 50%;
}

#edit-restaurant form fieldset {
  border: 3px solid #F5B436;
  padding: 40px;
  border-radius: 10px;
}

#edit-restaurant form fieldset legend {
  font-family: "Indie Flower", cursive;
  font-size: 40px;
  letter-spacing: 2px;
  padding: 20px;
}

#edit-restaurant form fieldset label,
#edit-restaurant form fieldset input,
#edit-restaurant form fieldset #myfilebutton {
  font-family: "Baloo 2", cursive;
  font-size: 20px;
  margin: 20px 0;
  cursor: pointer;
}

#edit-restaurant form fieldset input,
#edit-restaurant form fieldset #myfilebutton {
  width: 100%;
  height: 40px;
  padding: 20px 10px;
  background-color: #F5B436;
  border: 1px solid black;
  border-radius: 10px;
  outline: none;
  transition: box-shadow 0.5s linear;
}

#edit-restaurant form fieldset input:hover,
#edit-restaurant form fieldset #myfilebutton:hover {
  box-shadow: 5px 10px 3px #333232;
}

#edit-restaurant form fieldset button {
  font-family: "Baloo 2", cursive;
  font-size: 20px;
  background-color: #ffc244;
  border: 1px solid #ffc244;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px;
  transition: all 0.5s linear;
  cursor: pointer;
}

#edit-restaurant form fieldset button:hover {
  box-shadow: 5px 10px 3px #333232;
  border-color: black;
  margin-top: 0;
  margin-bottom: 20px;
}

#edit-restaurant form fieldset #myfilebutton {
  display: block;
  padding: 5px 10px;
}

#edit-restaurant form fieldset ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

#edit-restaurant form fieldset ul li {
  display: flex;
  flex-basis: 25%;
}

#edit-restaurant form fieldset ul li input {
  width: 15px;
}

@media (max-width: 1600px) and (min-width: 1200px) {
  body #homepage #categories .restaurants li {
    flex-basis: calc(50% - 40px);
  }

  body #homepage #categories {
    padding: 40px 6%;
  }

  body #homepage .work {
    padding: 40px 6% 70px 6%;
  }

  footer {
    padding: 70px 6%;
  }

  footer .footer-list ul li {
    padding: 0;
  }
}

