@media (max-width: 1600px) AND (min-width: 1200px) {

     body #homepage #categories .restaurants li {
          flex-basis: calc(50% - 40px);
     }

     body #homepage #categories {
          padding: 40px 6%;
     }

     body #homepage .work {
          padding: 40px 6% 70px 6%;
          
     }

     footer {
          padding: 70px 6%;

          .footer-list ul li {
               padding: 0;
          }
     }
}

@media (max-width: 1200px) AND (min-width: 998px) {
}

@media (max-width: 998px) AND (min-width: 768px) {
}

@media (max-width: 768px) {
}