@media (max-width: 1600px) AND (min-width: 1200px) {
     body #homepage .jumbotron .text h2 {         
          font-size: 3.5vw;
     }

     body #homepage #categories .restaurants {
          padding: 30px 5%;
          }

     body #homepage .work ul {
          padding: 100px 5%;
     }

     footer .footer-list {
          padding: 100px 5% 20px;
     }

     footer .footer-list ul {
          padding: 20px;
          }
}

@media (max-width: 1200px) AND (min-width: 998px) {
     header ul li .logo {
          font-size: 45px;
     }

     header ul li a {
          font-size: 20px;
          }

     body #homepage .jumbotron .text h2 {        
          font-size: 4vw;
     }

     body #homepage #categories h2 {
          margin-top: 20%;
     }

     body #homepage #categories .searchbar {
          width: 50%;
          }

     body #homepage #categories .restaurants {
          padding: 30px 5%;
          }

     body #homepage .work h2 {
          margin: 15% 0 20px 0;
     }

     body #homepage .work ul {
          justify-content: center;
          flex-wrap: wrap;
          padding: 100px 8%;
     }

     body #homepage .work ul li {
          margin: 15px;
          flex-basis: calc(50% - 30px);
     }

     footer .footer-list {
          justify-content: center;
          align-items: stretch;
          flex-wrap: wrap;
          padding: 100px 10% 20px;
     }

     footer .footer-list ul {
          flex-basis: calc(50% - 30px);
          margin: 15px;
     }

     footer .links {
          padding: 40px 11%;
          }
}

// @media (max-width: 998px) AND (min-width: 768px) {
// }

// @media (max-width: 768px) {
// }