footer {
     background-color: black;
     padding: 70px 8%;

     .footer-list {
          @include flex(row, space-between, stretch, nowrap);

          ul {   
               flex-basis: calc(100% / 4 - 20px);
               background-color: rgb(71, 70, 70);
               color: white;
               padding: 40px;
               border-radius: 20px;
               border: 2px solid rgb(71, 70, 70);
               transition: border 0.5s linear;
                      
         
               &:hover {   
                    border-color: $yellow;   
               } 

               li {   
                    padding: 3px;

                    &:first-child {
                         margin-bottom: 20px;

                         strong {                        
                              font-family: 'Indie Flower', cursive;
                              font-size: 25px;
                              color: $cream;                 
                         }
                         
                    }
     
                    a {
                         font-family: 'Baloo 2', cursive;
                         font-size: 16px;
                         color: $cream;

                         img {
                              width: 60%;
                              height: auto;
                              margin: 10px 0;
                         }
                    }
               }
          }
     }

     .links {
          @include flex(row, space-between, center, nowrap);
          padding: 40px;

          ul {
               flex-basis: 85%;

               li {
                    display: inline-block;

                    a {
                         color: $cream;
                         padding: 10px;
     
                         i {
                              font-size: 30px;
                         }
                    }
               }
          }

          h5 {
               @include baloo;
               flex-basis: 15%;
               color: $cream;
               font-weight: normal;
          }
     }
}