header {
     padding: 0 8%;
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
     height: 80px;
     position: fixed;
     z-index: 100;
     width: 100%;

     aside {
          flex-basis: 10%;

          div {
               background-color: $yellowPastel;
               height: 80px;
               padding: 20px;
               border: 1px solid black;
               border-bottom-left-radius: 45px;
               border-bottom-right-radius: 45px;
               z-index: 99;
               display: flex;
               justify-content: center;
               align-items: center;
               transition: all 0.5s ease-in-out;

               &:hover {
                    border-radius: 10px;
                    box-shadow: 5px 10px 3px rgb(51, 50, 50);
                    margin-top: 10px;
               }

               a {
                    font-family: 'Monoton', cursive;
                    font-size: 30px;
                    font-weight: normal;
                    color: black;
               }
          }

     }

     nav {
          flex-basis: 70%;

          ul {
               display: flex;
               justify-content: space-between;
               align-items: flex-start;
               
               li {
                   
                    padding: 10px 20px;
                    background-color: $yellowPastel;
                    border-bottom-left-radius: 30px;
                    border-bottom-right-radius: 30px;
                    border: 1px solid black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all 0.5s ease-in-out;
                    z-index: 99;

                    &:hover {
                         border-radius: 10px;
                         box-shadow: 5px 10px 3px rgb(51, 50, 50);
                         margin-top: 10px;
                    }

                    a {
                         font-family: 'Baloo 2', cursive;
                         font-size: 18px;
                         color: black;
                    }
               }
          }
     }
}