* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     list-style-type: none;
     text-decoration: none;
     outline: none;
}
   
body {
     
    #homepage  {

          .jumbotron, .delivery, .map {
               @include flex(row, space-between, center,  nowrap);
               height: 100vh;
               color: $blue;

               .attach, .text {
                    flex-basis: calc(50% - 20px);
               }

               .attach {
                    height: 100%;
                    width: auto;
               }

               .text {
                    @include flex(column, center, center, nowrap );
                    text-align: center;

                    h2{
                         @include indie;
                    }

                    button {
                         @include theButtonDesign($cream, $cream, $red);


                         &:hover {
                              background-color: $yellow;
                              border-color: $blue;
                         }

                         a {
                              @include baloo;
                              color: $blue;
                         }
                    }
               }
          }

          .jumbotron {
               background-color: $yellow;
               padding: 100px 8% 0 0;

               .attach {
                   background-image: url(../img/carne3.png);
                   background-repeat: no-repeat;
                   background-size: 40% auto;
                   background-position: 2% 50%;
                   background-attachment: fixed;
               }
          }

          .delivery {
               background-color: $cream;
               padding: 0 8% 0 0;

               .attach {
                   background-image: url(../img/food-delivery-vector-4428252-removebg-preview.png);
                   background-repeat: no-repeat;
                   background-size: 40% auto;
                   background-position: 0 30%;
                   background-attachment: fixed;
               }
          }

          .map {
               background-color: $azurePastel;
               padding: 0 8% 0 0;

               .attach {
                   background-image: url(../img/verde-italia-icona-mappa-cartoon-htmdm2-removebg-preview.png);
                   background-repeat: no-repeat;
                   background-size: 30% auto;
                   background-position: 2% 50%;
                   background-attachment: fixed;
               }
          }

          #categories {
               background-color: $greenPastel;
               text-align: center;
               padding: 40px 8%;

               h2 {
                    @include itim;
                    margin-bottom: 20px;
                    color: $blue;
               }

               ::placeholder {
                    color: $cream;
               }

               .searchbar {
                    @include baloo;
                    @include theButtonDesign($blue,$yellow, $yellow);
                    color: $cream;
                    width: 30%;
               }


               .typeOfFoods {
                    @include flex(row, center, center, wrap);
                    padding: 20px 0;

                    .checkbox-active{
                         border: 2px solid $yellow;
                    }

                    li {
                         @include baloo;
                         color: $cream;
                         background-color: $blue;
                         padding: 10px 20px;
                         border-radius: 10px;
                         border: 2px solid transparent;
                         margin: 10px;
                         @include flex(row, space-between, center, nowrap);

                         .checkbox {
                              @include checkbox;
                              flex-basis: 10%;
                         }

                         span {
                              flex-basis: 90%;
                         }
                         
                    }
               }

               .restaurants {
                    @include flex(row, center, center, wrap);
                    padding: 30px 0;

                    li {
                         flex-basis: calc(100% / 3 - 40px);
                         margin: 20px;
                         border-radius: 20px;
                         border: 1px solid black;
                         background-color: $blue;
                         transition: all 0.5s linear;

                         &:hover {
                              box-shadow: 20px 20px 3px black;
                         }

                         a {
                              color: $blue;

                              h3 {
                                   background-color: $yellow;
                                   padding: 10px;
                                   @include baloo;
                                   font-weight: normal;
                                   border-top-left-radius: 20px;
                                   border-top-right-radius: 20px;
                                   border-bottom: 1px solid black;
                              }

                              div {
                                   height: 308px;
                                   width: 100%;
                                   padding: 5px;
                              }
                         }

                         img {
                              width: 100%;
                              height: 100%;
                              border-bottom-left-radius: 20px;
                              border-bottom-right-radius: 20px;
                         }
                    }
               }
          }

          .work {
               background-color: $greenPastel;
               padding: 40px 8% 70px 8%;
               text-align: center;

               h2 {
                    @include indie;
                    margin-bottom: 20px;
                    color: $blue;
               }

               ul {
                    @include flex(row, space-between, stretch, nowrap);
                    color: $cream;

                    li {
                         @include flex(column, flex-start, auto, nowrap);
                         flex-basis: calc(100% / 3 - 30px);
                         background-color: $blue;
                         padding: 10px 10px 40px;
                         border-radius: 20px;
                         border: 1px solid $cream;
                         transition: box-shadow 0.5s linear;    

                         &:hover {
                              box-shadow: 20px 20px 3px black;
                         }

                         div {
                                   
                              &:last-child{
                                   display: flex;
                                   flex-direction: column;
                                   align-content: center;   
                                   flex-grow: 1;   
                              }   
                                 
                              &.bg{      
                                   
                                   min-height: 300px;      
                                   border-radius: 20px;
                                   border: 1px solid black;   
                                   overflow: hidden;      
                              } 
                              

                              h3 {
                                   @include itim;
                                   width: 100%;
                                   font-weight: normal;
                                   margin: 20px 0;
                              }

                              .left {   
                                   text-align: left;      
                                   flex-grow: 1;   
                                                       
                                   p {
                                        width: 100%;
                                        margin-bottom: 20px;
                                        @include baloo;
                                   }                                   
                              }
                              
                              button {
                                   @include theButtonDesign($yellow, $blue, $red);
                                   width: fit-content;
                                   align-self: center;
                                   justify-self: end;               

                                   a {
                                        @include baloo;
                                        color: black;
                                   }
                              }
                         }

                         .bg{
                              background-size: cover;  
                              background-repeat: no-repeat; 
                              background-position: center;    
                              &.rider{
                                   background-image: url('../img/rider.jpg');       
                              }          
                              &.ristorante{
                                   background-image: url('../img/ristorante.jpg');
                              }
                              &.work{
                                   background-image: url('../storage/img/work.webp');   
                              }
                         }   
                    }      
               }   
          }         
     }   
}   

