#home-restaurant {
    @include baloo;
    // padding: 100px 8%;
    background-color: $greenPastel;
    // display: flex;
    // justify-content: space-between;
    color: rgb(21, 22, 22);

    .jumbotron {
        background-image: url(../img/ristorante-background.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: auto;
        max-height: 700px;
        padding: 15% 0;
        @include flex(column, center, center, nowrap);

        h1 {
           @include indie;
           font-size: 4.5vw;
           padding: 15px 0;
        }

        div {
            @include baloo;
            font-size: 1.3vw;
            // padding: 10px 0;
        }
    }

    .menu {
        @include flex(row, space-between, flex-start, nowrap);
        padding: 5% 8%;

        .aside-menu {
            flex-basis: 20%;

            h2 {
                @include indie;
                margin: 10px 0;
            }
            ul {
                li {
                    @include baloo;
                    padding: 10px 0 10px 20px;
                    border-left: 4px solid $yellow;

                    div {
                        flex-basis: calc(50% - 20px);
                    }
    
                }
            }
        }

        .container-menu {
            flex-basis: calc(40% - 50px);

            .box-restaurant {
                border: 3px solid $yellow;
                padding: 0 30px 10px;
                border-radius: 10px;
                text-align: center;
        
                legend {
                    padding: 0 20px;
                    text-align: center;
                    font-size: 30px;
                    font-weight: bold;
                }
        
                .copertina {
                    height: 200px;
        
                    img {
                        height: 100%;
                        border-radius: 10px;
        
                    }
                }
        
                div {
        
                    * {
                        padding: 20px 0;
                    }
        
        
                    button {
                        padding: 10px 25px;
                        border-radius: 5px;
                        background-color: $yellow;
                    }
        
                    &:last-child {
                        display: flex;
                        text-align: center;   
                    }
                }
            }

            .products {

                div {
                    h2 {
                        @include indie;
                        border: 1px solid black;
                        background-color: $yellow;
                        padding: 0 20px;
                        border-top-left-radius: 25px;
                        border-top-right-radius: 25px;
                    }
        
                    ul {
                        padding: 0 20px;
                        background-color: $cream;
                        border-bottom-left-radius: 25px;
                        border-bottom-right-radius: 25px;
                        border: 1px solid black;
                        margin-bottom: 40px;
                        transition: all 0.5s linear;

                        &:hover {
                            box-shadow: 10px 20px 7px rgb(51, 50, 50);
                        }
        
                        li {
                            @include flex(row, space-between, center, nowrap);
                            padding: 10px 20px 10px 5px;
                            border-bottom: 3px solid $green;

                            h3 {
                                @include baloo;
                                font-size: 23px;
                            }

                            h5{
                                font-weight: normal;
                                @include baloo;
                                margin: 10px 0;
                            }

                            p {
                                @include baloo;
                                font-size: 17px;
                            }

                            h4 {
                                font-weight: normal;

                                i {
                                    color: black;
                                }
                            }

                            i {
                                color: $green;
                            }

                            img {
                                width: 100px;
                                height: auto;
                                vertical-align: super;
                            }
                        }
                    }
                }

                .image {
                    text-align: center;
                }
            }
        }

        .carrello {
            flex-basis: 30%;
            padding: 20px;
            border: 3px solid $cream;

            legend {
                padding: 20px;
                @include indie;
            }

            ul {
                
                li {
                    @include baloo;
                }
            }

            h3 {
                @include indie;
                font-weight: normal;
                padding: 40px 0;
            }

            div {
                text-align: center;

                button {
                    @include buttonDesign($yellow);

                    a {
                        @include baloo;
                    }
                }
            }
        }
    }

    a {
        text-decoration: none;
        color: black;
    }

    .aside-menu,
    .carrello {
        position: sticky;
        position: -webkit-sticky;
        top: 100px;
    }
}   