#home-restaurant {
    @include baloo;
    padding: 100px 8%;
    background-color: $green;
    display: flex;
    justify-content: space-between;
    color: rgb(21, 22, 22);

    .container-menu {
        width: 50%;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .aside-menu {

        ul {
            li {
                padding-left: 20px;
                border-left: 4px solid $gold;

            }
        }
    }

    .box-restaurant {
        border: 3px solid $gold;
        padding: 0 30px 10px;
        border-radius: 10px;
        text-align: center;

        legend {
            padding: 0 20px;
            text-align: center;
            font-size: 30px;
            font-weight: bold;
        }

        .copertina {
            height: 200px;

            img {
                height: 100%;
                border-radius: 10px;

            }
        }

        div {

            * {
                padding: 20px 0;
            }


            button {
                padding: 10px 25px;
                border-radius: 5px;
                background-color: $gold;
            }

            &:last-child {
                display: flex;
                text-align: center;   
            }
        }



    }

    .aside-menu,
    .carrello {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        transition: 1.5s;
    }

    .menu {

        div {

            ul {

                li {

                    padding: 10px 20px 10px 5px;
                    border: 2px solid $gold;
                    border-radius: 5px;
   
                    i {
                        margin-left: 20px;
                        color: rgb(62, 62, 236);
                    }
                }
            }
        }
    }
}   