#chi-siamo {
     .banner {

          div {
               @include flex(row, center, center,  nowrap);
               background-image: url(../img/chisiamo.jpg);
               background-size: contain;
               background-repeat: no-repeat;
               background-attachment: fixed;
               width: auto;
               max-height: 700px;
               padding: 15% 0;
               @include flex(column, center, center, nowrap);

               h1 {
                    @include indie;
                    font-size: 4.5vw;
                    padding: 15px 0;
                    color: $red;
               }
          }
     }

     .text {
          padding: 30px 20%;
          background-color: $greenPastel;

          p {
               @include baloo;
               margin-bottom: 30px;
               color: $blue;
          }
     }

     .box {
          padding: 30px 20% 100px 20%;
          background-color: $greenPastel;

          ul {
               @include flex(row, space-around, center,  nowrap);
               
               li {
                    flex-basis: calc(30% - 20px);
                    text-align: center;
                    @include theButtonDesign($yellow, $blue, $red);
                    color: $blue;

                    h2, h5 {
                         font-weight: normal;
                    }

                    h2 {
                         @include indie;
                    }

                    h5 {
                         @include baloo;
                    }
               }
          }
     }     
}