#chi-siamo {
     .banner {

          div {
               @include flex(row, flex-start, center,  nowrap);
               width: 100%;
               height: auto;
               padding: 200px 0 200px 8%;
               background-image: url(../img/chisiamo.jpg);
               background-size: 100% 70%;
               background-repeat: no-repeat;
               background-attachment: fixed;

               h1 {
                    @include indie;
                    margin-top: 30px;
               }
          }
     }

     .text {
          padding: 30px 20%;
          background-color: $green;

          p {
               @include baloo;
               margin-bottom: 30px;
          }
     }

     .box {
          padding: 30px 20% 100px 20%;
          background-color: $green;

          ul {
               @include flex(row, space-around, center,  nowrap);
               
               li {
                    flex-basis: calc(30% - 20px);
                    text-align: center;
                    @include buttonDesign($yellow);

                    h2, h5 {
                         font-weight: normal;
                    }

                    h2 {
                         @include indie;
                    }

                    h5 {
                         @include baloo;
                    }
               }
          }
     }     
}