#dashboard {
    position: relative;
    display: grid;
    background-color: $whitePastel;
    grid-template-columns: 15% auto 15%;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "welcome welcome welcome"
        "navbar my-restaurants .";


    .welcome {
        grid-area: welcome;
        background-color: $whitePastel;
        padding: 100px 0 50px;
        @include flex(row, center, center, nowrap);
        font-family: indie flower, cursive;
        font-size: 40px;

        h1 {
            margin-top: 50px;
        }
    }

    .navbar {
        background-color: $whitePastel;
        padding-bottom: 200px;

        ul {
            position: sticky;
            top: 100px;



            >li {
                position: relative;
                height: 110px;

                &:first-child a {
                    left: -180px;
                }

                &:last-child a {
                    left: -125px;
                }

                >a {
                    @include flex(row, space-between, center, nowrap);
                    @include neomorphism;
                    @include itim;
                    position: absolute;
                    top: 0;
                    font-size: 30px;
                    padding: 30px 10%;
                    border: 1px solid black;

                    h4 {
                        margin-right: 20px;
                    }

                    &:hover {
                        left: 0;
                    }
                }

            }

        }

    }

    .my-restaurants {
        grid-area: my-restaurants;
        background-color: $whitePastel;
        padding: 30px 0;
        padding-bottom: 200px;

        >h3 {
            padding: 10px;
            @include itim;
            font-size: 35px;
            font-weight: normal;
            text-align: center;
        }

        ul {
            @include flex(row, space-between, center, wrap);
            padding: 30px 0;

            li {
                @include neomorphism;
                flex-basis: 370px;
                margin: 30px;



                >div {
                    position: relative;
                    @include flex(row, space-between, center, nowrap);

                    .modifica {
                        display: none;
                        position: absolute;
                        top: -60px;
                        right: 0;
                        padding: 20px;
                        border: 1px solid black;
                        border-radius: 10px;
                        background-color: goldenrod;
                        width: 100%;

                        &:hover {
                            display: block;
                        }

                        a {
                            @include itim;
                            font-size: 20px;
                            border-radius: 10px;
                            padding: 10px 20px;
                            background-color: lightseagreen;
                            margin: 0 20px;

                        }

                    }

                    button {

                        @include neomorphism;
                        padding: 7px 17px;
                        margin-right: 10px;
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px;

                        &:focus+.modifica {
                            display: block;
                        }
                    }

                    a {
                        color: $blue;
                        width: 100%;
                        height: 100%;
                    }

                    h3 {
                        padding: 10px;
                        @include itim;
                        font-size: 25px;
                        font-weight: normal;
                    }

                    &:first-child {
                        @include flex(row, space-between, center, nowrap);
                        border-bottom: 1px solid black;
                        margin-bottom: 10px;
                    }

                    &:last-child {

                        height: 160px;
                        width: 100%;

                    }

                    img {
                        width: 100%;
                        height: 100%;
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                        padding: 0 10px 10px;
                    }
                }
            }
        }
    }
   
    .create {
        grid-area: my-restaurants;
        @include form;
        padding: 50px 8% 0 0;


        ul {

            #myfilebutton {
                margin: 20px 50px 20px 0;
                font-size: 20px;
   
            }      
            flex-basis: 100%;
            @include flex(row, space-between, center, wrap);
            margin-bottom: 20px;

            li {
                flex-basis: calc(100% / 5 - 20px);
                @include flex(row, flex-start, center, nowrap);

                label {
                    @include baloo;
                    white-space: nowrap;
                }

                input {
                    -webkit-appearance: none;
                    background-color: $yellow;
                    border: 1px solid $yellow;
                    padding: 10px;
                    border-radius: 5px;
                    margin: 0 10px;
                    transition: all 0.3s linear;
                    position: relative;

                    &:hover {
                        border-color: black;
                    }

                    &:checked {
                        background-color: $yellow;
                        border: 1px solid black;
                    }

                    &:checked:after {
                        content: '\2714';
                        font-size: 20px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        color: black;
                    }
                }
            }
        }

        //  h2 {
        //       @include indie;
        //  }

        //  form {
        //       width: 80%;
        //       margin:30px 0;
        //       fieldset {
        //            @include flex(row, space-between, center, wrap);
        //            border: 3px solid #F5B436;
        //            padding: 20px;
        //            border-radius: 10px;

        //            legend {
        //                 @include indie;
        //                 padding: 20px;
        //            }

        //            div {
        //                 flex-basis: calc(100% / 3 - 20px);

        //                 ::placeholder {
        //                      @include baloo;
        //                      color: black;
        //                 }

        //                 label, input, #myfilebutton {   
        //                      margin: 20px 50px 20px 0;
        //                      font-size: 20px;


        //                      h4 {
        //                           @include baloo;
        //                           font-weight: normal;
        //                      }

        //                 }

        //                 input, #myfilebutton {      
        //                      width: 100%;
        //                      padding: 10px 20px;
        //                      background-color: #F5B436;
        //                      border: 1px solid black;
        //                      border-radius: 10px;
        //                      transition: box-shadow 0.5s linear;

        //                      &:hover {
        //                           box-shadow: 5px 10px 3px rgb(51, 50, 50);
        //                      }
        //                 }  
        //                 #myfilebutton{   
        //                      margin-top: 0;   
        //                 }   


        //            }

        //            .button {
        //                 flex-basis: 100%;
        //                 text-align: center;

        //                 button{
        //                 @include baloo;
        //                 @include buttonDesign($yellow);
        //                 }
        //            }

        //           
        //            }


        //       }
        //  }

    }





}
