#edit-restaurant {

    @include flex(row, center, center, nowrap);
    background-color: $green;
    padding: 100px 0;   
    padding-bottom: 200px;

    form {
        @include form;

        fieldset{

            #myfilebutton{
                display: block;     
                padding: 5px 10px;     
                    
            }      

            ul {
                @include flex(row, flex-start, center, wrap);   
                
                li{               
                
                    @include flex(row, flex-start, center, nowrap);
                    margin-bottom: 20px;   
                    flex-basis: 20%;   
                    #category{   
                        @include checkbox; 
                        width: fit-content; 
                        height: fit-content;       
                    }   
                    label{
                        white-space: nowrap;   
                    }
                    
                }   
                   
    
            }   
        }

    }   
   
}
